.player {
  height: 4.75em;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  padding: 0 2em;
  background-image: url('http://kamleshyadav.com/html/miraculous/version1/images/player_bg.jpg');
  background-size: cover;
  
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(27, 32, 57, 0.6);
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .playerButton{
    .playerControl{
      color: #fff;
      font-size: 2rem;
    }
  }
}

.progress{
  margin: 0 2em;
  .daurationInfo{
    color: #fff;
  }
}
